footer{
    width: 100%;
    float: right;
    background: #000000;
    color:#FFFFFF;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    box-sizing: border-box;
}

footer h1{
    margin: 20px auto;
}

footer p{ 
    margin: auto;
}
